@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.textlint-underline {
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.textlint-underline.info {
  box-shadow: inset 0 -2px #8981f3;
}

.textlint-underline.warning {
  box-shadow: inset 0 -2px #e9b35f;
}

.textlint-underline.error {
  box-shadow: inset 0 -2px #da615c;
}

.textlint-underline.warning:hover {
  background-color: #e9b35f21;
}

.textlint-underline.error:hover {
  background-color: #da615c21;
}

.textlint-underline.info:hover {
  background-color: #8981f321;
}

.textlint-setting-title {
  font-size: large;
  font-weight: bold;
}
